:root {
    --grid-base: 4px;
    --grid-base--x2: calc(var(--grid-base) * 2);
    --grid-base--x4: calc(var(--grid-base) * 4);

    --color-gold-dark: rgb(184, 134, 11);
    --color-white: rgb(255,255,255);
    --color-dark-grey: rgb(62, 62, 62);
    --color-dirty-brown: rgb(94, 68, 4);


    --primary-color: var(--color-white);
    --accent-color: var(--color-gold-dark);
}

[data-theme="dark"] {
    --primary-color: var(--color-dark-grey);
    --accent-color: var(--color-dirty-brown);
}